#main-boards {
    display: flex;
    flex-direction: column;
}

.board {
    margin: 4px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f180b3;
}

.board-name > a {
    /* font-size: 1.35em; */
    font-weight: 800;
    text-decoration: none;
}

.board-name > a:hover {
    text-decoration: underline;
}

.board-description {
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: italic;
}
