#main-boards {
    display: flex;
    flex-direction: column;
}

#board-list-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

#board-list-header-image {
    height: 120px;
}

.board {
    margin: 4px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #f180b3;
}

.board-name > a {
    /* font-size: 1.35em; */
    font-weight: 800;
    text-decoration: none;
}

.board-name > a:hover {
    text-decoration: underline;
}

.board-description {
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: italic;
}

.board-latest-thread-description > a {
    text-decoration: none;
}

.board-latest-thread-description > a:hover {
    text-decoration: underline;
}

.board-latest-thread-time-author {
    font-size: 0.8em;
}
