#create-board {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#new-board-form {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    width: 90%;
    align-items: flex-end;
}

.board-input {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.board-input label {
    padding: 5px 15px;
}

#new-board-id,
#new-board-name,
#new-board-description {
    border-color: #5b5b5b;
    height: 40px;
    font-size: inherit;
}

#new-board-submit {
    width: 80px;
}
