@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #f0eeef;
}

button {
    background-color: #f31d81;
    color: #070406;
    height: 40px;
    border-radius: 20px;
    padding: 0px 15px;
    border: none;
}

#main-content {
    display: flex;
    flex-direction: column;
    background-color: #151515;
    min-height: 100vh;
}

#content {
    display: flex;
    flex-direction: row;
}

main {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    width: min-content;
    height: calc(100vh - 80px);
    box-sizing: border-box;
}

footer {
    /* margin: 0px -60px; */
    padding: 15px 0px;
    background-color: red;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    background-color: #ffffff00;
    border-radius: 20px;
    border: solid #ff52a2 2px;
    padding: 0 15px;
}

textarea {
    background-color: #ffffff00;
    border-radius: 20px;
    border: solid #ff52a2 2px;
    padding: 15px;
    resize: none;
}

#nav-right {
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

#sidebar {
    display: fixed;
    height: 100%;
    width: 100px;
}

.current-location {
    font-weight: 600;
    font-style: italic;
    margin-bottom: 20px;
}

.current-location > a {
    text-decoration: none;
}

.current-location > a:hover {
    text-decoration: underline;
}
