#main-threads {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#threads-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#board-name {
}

#board-description {
    font-style: italic;
}

#create-thread-button {
    background-color: #2a3236;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
}

#threads {
    padding: 10px 0;
}

.thread {
    background-color: #86194c;
    margin: 4px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.thread-name > a {
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
}

.thread-name > a:hover {
    text-decoration: underline;
}

.thread-details {
    color: #f180b3;
    font-style: italic;
}

.thread-by-username {
    text-decoration: none;
    color: inherit;
}

.thread-by-username:hover {
    text-decoration: underline;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.details div {
}

.details-left {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 10px;
}

.details-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.details-thread {
    font-size: 1.15em;
    font-weight: 600;
    width: 100%;
}

.details-content {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
