#user {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#user-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 50px;
    width: calc(100% + 50px);
    height: 300px;
    margin: 10px -25px;
    /* background-color: blue; */
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}

#user-header {
    /* padding: 0px 20px;s */
    display: flex;
    flex-direction: row;
}

#user-image {
    height: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    object-fit: cover;
}

#user-text {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000,
        -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.user-h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#user-history-tab {
    display: flex;
    width: 100%;
    margin: 15px 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.user-tab {
    background-color: #2c2c2c;
    color: #f0eeef;
    width: 50%;
    margin: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 1.3em;
}

#user-threads-created,
#user-replies-created {
    max-height: 600px;
    overflow: scroll;
}

.moderator-buttons {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgb(222, 17, 17);
    text-decoration: none;
}
