#user {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#user-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
    padding-bottom: 20px;
}

#user-image {
    height: 120px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

.user-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

#user-text {
    padding: 0px 20px;
}

#user-history-tab {
    display: flex;
    width: 100%;
    margin: 15px 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.user-tab {
    background-color: #2c2c2c;
    color: #f0eeef;
    width: 50%;
    margin: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 1.3em;
}

#user-threads-created,
#user-replies-created {
    max-height: 600px;
    overflow: scroll;
}

.moderator-buttons {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgb(222, 17, 17);
    text-decoration: none;
}
