<main id="main-boards">
    <h1>Boards</h1>
    {% for board in boards %}
    <div class="board">
        <div class="board-name">
            <a href="/{{board.board_id}}">{{ board.name }}</a>
        </div>
        <div class="board-description">
            {{ board.description }}
        </div>
    </div>
    {% endfor %}
</main>

{% comment %} <div class="recent">
    <div class="recent-left">
        <div class="recent-thread">Recent Thread</div>
        <div class="recent-content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste similique sit nihil, est, expedita dolorem modi.
        </div>
    </div>
    <div class="recent-right">
        <div class="comments">
            69 comments
        </div>
        <div class="time-author">
            59 minutes ago by Smilie Pop
        </div>
    </div>
</div> {% endcomment %}