<main id="main-boards">
    {% for board in boards %}
    <div class="board">
        <h2 class="board-name">
            <a href="/{{board.info.board_id}}">{{ board.info.name }}</a>
        </h2>
        <div class="board-description">
            {{ board.info.description }}
        </div>
        <div class="board-recent-thread">
            <h4>Recent Thread</h4>
            <div class="board-latest-thread-title">
                Test
            </div>
        </div>
    </div>
    {% endfor %}
</main>

