<main id="create-thread-body">
    <a class="back-to-boards" href="/{{ board_id }}">
         <- {{ board_name }} / Create Thread
    </a>
    <h1>Create Threads</h1>

    <form id="new-thread-form" action="">
        <label for="new-thread-title">Title</label>
        <input id="new-thread-title" type="text">

        <label for="new-thread-description">Post Description</label>
        <textarea name="new-thread-description" id="new-thread-description"></textarea>
        <button type="submit" id="new-thread-submit">Submit</button>
    </form>
</main>