<main id="create-thread-body">
    <a class="back-to-boards" href="/{{ board_id }}">
         <- {{ board_name }} / Create Thread
    </a>
    <h1>Create Threads</h1>

    <form id="new-thread-form" action="{% url 'main:create_thread' board_id %}" method="POST">
        {% csrf_token %}
        <label for="new-thread-title">Title</label>
        <input id="new-thread-title" type="text" name="title">

        <label for="new-thread-body">Thread Body</label>
        <textarea name="body" id="new-thread-body"></textarea>
        <button type="submit" id="new-thread-submit">Submit</button>
    </form>
</main>