<main id="post">
    <a id="back-to-threads" href="/{{board_id}}">    
        <- {{ board_name }} / <span id="thread-title-back"> {{ thread_topic.title }}</span>
    </a>
    <div id="main-thread">
        <h1 id="thread-title">{{ thread_topic.title }}</h1>
        <div id="thread-body">{{ thread_topic.body }}</div>
    </div>
    <form action="{% url 'main:post' board_id thread_topic.id %}" method="POST" id="input-reply">
        {% csrf_token %}
        <textarea name="body" id="new-reply" placeholder="What's on your mind?" > </textarea>
        <button id="submit-reply" type="submit">Comment</button>
    </form>
    <div id="replies">
        {% for reply in replies %}
        <div class="reply">
            <div class="reply-name">{{ reply.username.username }}</div>
            <div class="reply-content">{{ reply.body }}</div>
        </div>
        {% endfor %}
    </div>
</main>