{% load custom_filter %}
{% load static %}

<main id="post">
    <div class="current-location">    
        <a href="{% url 'main:boards' %}"><i class="bi bi-house"></i></a> / 
        <a href="{% url 'main:threads' board.board_id %}">{{ board.name }}</a> / 
    </div>
    <div id="main-thread">
        <div id="thread-details">
            <h1 id="thread-title">{{ thread.title }}</h1>
            <div id="thread-author-date">by <a class="link-no-underline" href="{% url 'main:user' thread.username %}">{{ thread.username }}</a> <i class="bi bi-dot"></i> <span id="thread-date">{{ thread.created_at|timesince_short }} ago</span></div>
        </div>
        <div id="thread-settings">
            {% if request.user.role.name == 'Moderator' or request.user.username == thread.username.username %}
                <a id="id-delete-thread-{{thread.id}}" class="link-no-underline" href="#" onclick="confirm('id-delete-thread-{{thread.id}}', 'id-confirm-thread-{{thread.id}}')"><i class="bi bi-trash-fill"></i> delete</a>
                <a id="id-confirm-thread-{{thread.id}}" class="link-no-underline hide" href="{% url 'main:delete_thread' thread.id %}?next={% url 'main:threads' thread.board.board_id %}"> <i class="bi bi-trash-fill"></i> confirm</a>
            {% endif %}
            {% if request.user.username == thread.username.username and not request.user.is_banned %}
                <i class="bi bi-dot"></i> 
                <a class="link-no-underline" href="#" onclick="showEditForm()"> <i class="bi bi-pencil-fill"></i> edit</a>
            {% endif %}
        </div>
        <form action="{% url 'main:edit_thread' board.board_id thread.id %}" method="POST" class="hide" id="edit-thread">
            {% csrf_token %}
            <textarea name="body" id="input-edit-thread" placeholder="Edit Thread">{{thread.body}}</textarea>
            {% for error in form.body.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            <button id="submit-edited-thread" type="submit">Edit Thread</button>
        </form>

        <div id="thread-body">{{ thread.body }}</div>
    </div>


    {% if request.user.is_banned %}
        <p class="banned"> You are banned from replying threads. </p>
    {% else %}
        <form action="{% url 'main:thread' board.board_id thread.id %}" method="POST" id="new-reply">
            {% csrf_token %}
            <textarea name="body" id="input-reply" placeholder="Reply to this thread"> </textarea>
            {% for error in form.body.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            <button id="submit-reply" type="submit">Comment</button>
        </form>
    {% endif %}

    
    <div id="replies">
        {% if replies %}
            {% for reply in replies %}
            <div class="reply">
                <div class="reply-details"><a class="link-no-underline" href="{% url 'main:user' reply.username %}">{{ reply.username }} </a> <i class="bi bi-dot"></i> <span class="reply-date">{{ reply.created_at|timesince_short }} ago
                    {% if request.user.role.name == 'Moderator' or request.user.username == reply.username.username %}
                        <i class="bi bi-dot"></i> 
                        <a id="id-delete-reply-{{reply.id}}" class="link-no-underline" href="#" onclick="confirm('id-delete-reply-{{reply.id}}', 'id-confirm-reply-{{reply.id}}')"> <i class="bi bi-trash-fill"></i> delete</a>
                        <a id="id-confirm-reply-{{reply.id}}" class="link-no-underline hide" href="{% url 'main:delete_reply' reply.id %}?next={% url 'main:thread' board.board_id thread.id %}"> <i class="bi bi-trash-fill"></i> confirm</a>                  
                    {% endif %}
                </span>
                </div>
                <div class="reply-content">{{ reply.body }}</div>
            </div>
            {% endfor %}   
        {% else %}
        <div class="reply">
            No replies yet!
        </div>
        {% endif %} 
    </div>
</main>
<script src="{% static "js/confirm.js" %}"></script> 
<script src="{% static "js/thread.js" %}"></script> 
