{% load custom_filter %}

<main id="post">
    <div class="current-location">    
        <a href="{% url 'main:boards' %}"><i class="bi bi-house"></i></a> / 
        <a href="{% url 'main:threads' board.board_id %}">{{ board.name }}</a> / 
    </div>
    <div id="main-thread">
        <div id="thread-details">
            <h1 id="thread-title">{{ thread.title }}</h1>
            <div id="thread-author-date">by {{ thread.username }} <i class="bi bi-dot"></i> <span id="thread-date">{{ thread.created_at|timesince_short }} ago</span></div>
        </div>
        <div id="thread-body">{{ thread.body }}</div>
    </div>
    {% if request.user.is_banned %}
        <p class="banned"> You are banned from replying threads. </p>
    {% else %}
        <form action="{% url 'main:thread' board.board_id thread.id %}" method="POST" id="new-reply">
            {% csrf_token %}
            <textarea name="body" id="input-reply" placeholder="Reply to this thread"> </textarea>
            {% for error in form.body.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            <button id="submit-reply" type="submit">Comment</button>
        </form>
    {% endif %}
    <div id="replies">
        {% if replies %}
            {% for reply in replies %}
            <div class="reply">
                <div class="reply-details">{{ reply.username }} <i class="bi bi-dot"></i> <span class="reply-date">{{ reply.created_at|timesince_short }} ago</span></div>
                <div class="reply-content">{{ reply.body }}</div>
            </div>
            {% endfor %}   
        {% else %}
        <div class="reply">
            No replies yet!
        </div>
        {% endif %} 
        
    </div>
</main>