{% load custom_filter %}

<main id="main-threads">
    <div class="current-location" href="">
        <a href="{% url 'main:boards' %}"><i class="bi bi-house"></i></a> / 
        {% comment %} <a href="{% url 'main:threads' board.board_id %}">{{ board.name }}</a> {% endcomment %}
    </div>
    <div id="threads-header">
        <div class="board-details">
            <h1 id="board-name">{{ board.name }}</h1>
            <p id="board-description">{{ board.description }}</h1>
        </div>
        <a id="create-thread-button" href="{% url 'main:create_thread' board.board_id%}" ><i class="bi bi-plus-circle"></i> Create Thread</a>
    </div>
    <div id="threads">

        {% for thread in threads %} 
        <div class="thread">
            <div class="details">
                <div class="details-left">
                    <h2 class="thread-name">
                        <a href="/{{board.board_id}}/{{thread.info.id}}">
                            {{ thread.info.title }} 
                        </a>
                    </h2>
                    <div class="thread-details">
                        by <a class="thread-by-username" href="{% url 'main:user' thread.info.username %}">{{ thread.info.username }}</a> <i class="bi bi-dot"></i> 
                        {% if request.user.role.name == 'Moderator' or request.user.username == thread.info.username.username %}
                            <a class="thread-by-username" href="{% url 'main:user' thread.info.username %}"> <i class="bi bi-trash-fill"></i> delete</a><i class="bi bi-dot"></i> 
                        {% endif %}
                        <i class="bi bi-chat-fill"></i> {{thread.reply_count}} 
                        {% if thread.reply_count == 1 %} reply
                        {% else %} replies
                        {% endif %} 
                    </div>
                </div>
                <div class="details-right">
                    <div class="time">
                        {{ thread.info.updated_at|timesince_short}} ago
                    </div>
                    <div class="last-reply">
                        {% if thread.reply %}
                            last reply by <a class="thread-by-username" href="{% url 'main:user' thread.reply.username %}">{{ thread.reply.username }}</a>
                        {% else %}
                            started by <a class="thread-by-username" href="{% url 'main:user' thread.info.username %}">{{ thread.info.username }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
