{% load static %}
{% load custom_filter %}

<main id="user">
    <div class="current-location">    
        <a href="{% url 'main:boards' %}"><i class="bi bi-house"></i></a> / User
    </div>
    <div id="user-details">
        <img src="{% static "img/profile_test.jpg" %}" id="user-image" alt="">
        <div id="user-text">
            <h1>
                {{ user.username }}
            </h1>
            <h3>
                Joined since {{ user.created_at }}
            </h3>
            {% include "main/icons.html" %}
                
            {% if request.user == user %}
                <a href="{% url 'main:user_settings' %}">Account Settings</a>
            {% endif %}
        </div>
    </div>

    <div id="user-history-tab">
        <button class="user-tab" onclick="to_threads()">Threads</button>
        <button class="user-tab" onclick="to_replies()">Replies</button>
    </div>

    <div id="user-threads-created">
        {% if threads_made %}
            {% for thread in threads_made %}
                <div class="thread">
                    <div class="details-left">
                        <h2 class="thread-name">
                            <a href="/{{thread.board.board_id}}/{{thread.id}}">
                                {{ thread.title }} 
                            </a>
                        </h2>
                        <div class="thread-details">
                            {% if request.user.role.name == 'Moderator' or request.user.username == thread.username.username %}
                                <a class="link-no-underline" href="{% url 'main:delete_thread' thread.id %}?next={% url 'main:user' user.username %}"> <i class="bi bi-trash-fill"></i> delete</a><i class="bi bi-dot"></i> 
                            {% endif %}
                            in <a class="link-no-underline" href="{% url 'main:threads' thread.board.board_id %}">{{ thread.board.name }}</a> <i class="bi bi-dot"></i> created {{ thread.created_at|timesince_short}} ago
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            This user hasn't created any threads yet.
        {% endif %}
    </div>
    <div id="user-replies-created" class="hide">
        {% if replies_made %}
            {% for reply in replies_made %}
                <div class="reply">
                    <div class="reply-details">
                        <a class="link-no-underline" href="{% url 'main:thread' reply.thread.board.board_id reply.thread.id %}">
                            {{reply.thread.title}}
                        </a>
                    </div>
                    <div class="reply-content">{{ reply.body }}</div>
                    <span class="reply-date">{{ reply.created_at|timesince_short }} ago
                        {% if request.user.role.name == 'Moderator' or request.user.username == reply.username.username %}
                            <i class="bi bi-dot"></i> <a class="link-no-underline" href="{% url 'main:delete_reply' reply.id %}?next={% url 'main:user' user.username %}"> <i class="bi bi-trash-fill"></i> delete</a>
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
        {% else %}
            This user hasn't replied to any threads yet.
        {% endif %}
    </div>
    {% if request.user.role.name == "Moderator" %}
        <h2 class="user-header">Moderator Settings</h2>
        <div id="moderator-actions">
            <a class="moderator-buttons" href="{% url 'main:ban_user' user.username %}">Toggle Ban</a>
            <a class="moderator-buttons" href="{% url 'main:delete_user' user.username %}">Delete User</a>
        </div>
    {% endif %}
</main>
<script src="{% static "js/user.js" %}"></script>