{% load static %}

<main id="user-settings">
    <div class="current-location">    
        <a href="{% url 'main:boards' %}"><i class="bi bi-house"></i></a> / User / Settings
    </div>
    {% include 'main/account-banner.html' %}
    {% if user.is_banned %}
        <div class="banned">
            <h2>Message from the moderators</h2>
            <p>You are currently banned on 4uni. You can still view boards and threads, but you won't be able to create threads or reply on specific threads.</p>
        </div>
    {% endif %}

    <div class="user-h2">
        <h2>
            Account Settings
        </h2>
    </div>
    <form id="user-deco-upload" action="{% url 'main:upload_deco' user.username %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="user-upload-input">
            <label for="new-thread-img">Profile Picture</label>
            <input name="profile_picture" id="new-prof-pic" type="file" accept="image/*">
        </div>
        <div class="user-upload-input">
            <label for="new-thread-img">Profile Banner</label>
            <input name="profile_banner" id="new-prof-banner" type="file" accept="image/*">
        </div>
        {% for error in form.img_upload.errors %} 
            <div class="error">{{ error }}</div>
        {% endfor %}
        <button type="submit" id="#upload-pic-banner">Upload Images</button>
    </form>
    <div id="user-settings-menu">
        <a href="{% url "main:logout" %}" class="account-setting-btn">Log Out</a>
    </div>
</main>     