{% load static %}

<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">   
   <link rel="stylesheet" type="text/css" href="{% static 'main/header.css' %}">   
   <link rel="stylesheet" type="text/css" href="{% static 'main/boards.css' %}">   
   <link rel="stylesheet" type="text/css" href="{% static 'main/threads.css' %}">   
   <link rel="stylesheet" type="text/css" href="{% static 'main/thread.css' %}">   
   <link rel="stylesheet" type="text/css" href="{% static 'main/create-thread.css' %}">   
   <link rel="stylesheet" type="text/css" href="{% static 'main/create-board.css' %}">   
   <link rel="stylesheet" type="text/css" href="{% static 'main/sidebar.css' %}">   
   <link rel="stylesheet" type="text/css" href="{% static 'main/user.css' %}">   
   <link rel="stylesheet" type="text/css" href="{% static 'main/user-settings.css' %}">   
   <link rel="stylesheet" type="text/css" href="{% static 'main/icon.css' %}">   
   <script src="{% static 'js/jquery.js' %}"></script>
   <title>{{title}}</title>
</head>
<body>
   <div id="main-content">
      {% include "main/header.html" %}
      <div id="content">
         {% include 'main/left-sidebar.html' %}
         {% include view %}
         {% include 'main/right-sidebar.html' %}
      </div>
   </div>
</body>
</html>